.system-management-cls {
    p {
        color: #64748b;
        font-weight: 500;
        font-size: 14px;
    }
}

.system-management-portion {
    label {
        color: #64748b;
        font-weight: 500;
        font-size: 14px;
    }
    p {
        color: #0f172a;
        font-weight: 700;
        font-size: 14px;
    }
}

.inner-part-system-info {
    svg {
        cursor: pointer;
    }
}
